* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Caveat", Courier, monospace;
    color: #dad3d3;
}

/*
Commenting out for now - will be adding to media query later on
#reel {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: auto;
    z-index: 10;
}
*/



#result {
    justify-self: center;
    width: 200px;
    height: 40px;
    border : black 5px solid;
    text-align: center;
    color: black;
}

footer {
    position: absolute;
    bottom: 0px;
    margin: 0;
    border: 0;
    padding: 1em 0;
    background-color: #3a3a3a;
    width: 100%;
    display: grid;
    justify-content: center;
    box-shadow: 2px 0 2px #070606;
}

#main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#slot-machine {
    display: grid;
    height: 30rem;
    width: 20rem;
    border: #3a3a3a 5px solid;
    padding: 0.3rem 0;
}

button {
    width : 5rem;
    height : 3rem;
    border : black 5px solid;
    align-self: end;
    justify-self: center;
}

#reels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 16rem;
}

.reel {
    height: 309px;
    width: 90px;
    border : black 5px solid;
    background-image: url('../assets/images/SlotReelsMeasure.jpg');
    overflow: hidden;
    background-repeat: repeat-y;
    background-position: 0 12px;
}

#reel1 {
    height: 309px;
    width: 90px;
    border : black 5px solid;
    background-image: url('../assets/images/SlotReelsMeasure.jpg');
    overflow: hidden;
    background-repeat: repeat-y;
    background-position: 0 12px;
}

#reel2 {
    height: 309px;
    width: 90px;
    border : black 5px solid;
    background-image: url('../assets/images/SlotReelsMeasure.jpg');
    overflow: hidden;
    background-repeat: repeat-y;
    background-position: 0 12px;
}

#reel3 {
    height: 309px;
    width: 90px;
    border : black 5px solid;
    background-image: url('../assets/images/SlotReelsMeasure.jpg');
    overflow: hidden;
    background-repeat: repeat-y;
    background-position: 0 12px;
}

#bet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#bet-tally {
    width: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#credits {
    display: flex;
    align-items: center;
    height: 3rem;
}

#credit-counter {
    width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#more-or-less {
    display: flex;
    flex-direction: column;
}

#more {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
}

#less {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
}

#ten-more {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
}

#ten-less {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 50px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#spin-button {
    align-self: center;
    width : 6rem;
    height : 4rem;
    background-color: #3a3a3a;
    color: white;
}

#all-in{
    align-self: center;
    justify-self: center;
}